@()(implicit request: Request[_], lang: Lang)

@import com.aimprosoft.play.glossaries.security.GlossaryUserDetails
@import com.aimprosoft.play.glossaries.tags.views.TemplateUtils._
@import com.aimprosoft.play.glossaries.tags.views.html.hasRole
@import com.aimprosoft.play.glossaries.models.UserRole
<body>
    <div id="header">
        <div>
            <span class="userGreeting">
                @Messages("sample.message.welcome")&nbsp;@{principal[GlossaryUserDetails].get.getUser.getName}
            </span>
            <a href="/logout">@Messages("sample.message.logout")</a>
        </div>
        <div>
            <span>@Messages("sample.message.change.locale")</span>
            <a href="?lang=en">@Messages("sample.message.locale.en")</a>
            <a href="?lang=ru">@Messages("sample.message.locale.ru")</a>
        </div>
    </div>

    <br/>

    <div id="content">

        <div id="dialog"></div>

        <table id="jqTable">
            <thead>
                <tr>
                    <th>@Messages("sample.message.id")</th>
                    <th>@Messages("sample.message.name")</th>
                    <th>@Messages("sample.message.description")</th>
                    @hasRole(UserRole.ADMIN) {
                        <th>@Messages("sample.message.actions")</th>
                    }
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        @hasRole(UserRole.ADMIN) {
            <div>
                <input type="button" value="@Messages("sample.message.add")" class="edit" data-id="0">
            </div>
        }

    </div>

</body>