<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <context:annotation-config/>

    <context:property-placeholder location="classpath:/application.conf"/>

    <context:component-scan base-package="services"/>
    
    <!--Object mapper-->
    <bean name="objectMapper" class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean" autowire="no">
        <property name="dateFormat" ref="jsonDateFormat"/>
        <property name="featuresToDisable">
            <list>
                <value type="com.fasterxml.jackson.databind.SerializationFeature">FAIL_ON_EMPTY_BEANS</value>
                <value type="com.fasterxml.jackson.databind.DeserializationFeature">FAIL_ON_UNKNOWN_PROPERTIES</value>
            </list>
        </property>
    </bean>

    <bean name="jsonDateFormat" class="java.text.SimpleDateFormat">
        <constructor-arg value="dd-MM-yyyy HH:mm:ss z"/>
        <property name="timeZone" ref="gmtTimeZone"/>
    </bean>

    <bean name="gmtTimeZone" class="java.util.TimeZone" factory-method="getTimeZone">
        <constructor-arg value="GMT"/>
    </bean>

    <!--Initialize Scala module-->
    <bean class="com.aimprosoft.scala.contrib.spring.jackson.ScalaJacksonConfigurer">
        <property name="objectMapper" ref="objectMapper"/>
    </bean>

    <bean class="com.aimprosoft.scala.contrib.oval.ScalaOvalValidator"/>

</beans>