@(handler: be.objectify.deadbolt.scala.DeadboltHandler)(implicit request: Request[Any])

@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<body>
    <div id="header">
        <div>
            <span class="userGreeting">
                @Messages("sample.message.welcome")&nbsp;
                @handler.getSubject(request).get.toString
            </span>
            <a href="/logout">@Messages("sample.message.logout")</a>
        </div>
        <div>
            <span>@Messages("sample.message.change.locale")</span>
            <a href="?lang=en">@Messages("sample.message.locale.en")</a>
            <a href="?lang=ru">@Messages("sample.message.locale.ru")</a>
        </div>
    </div>

    <br/>

    <div id="content">

        <div id="dialog"></div>

        <table id="jqTable">
            <thead>
                <tr>
                    <th>@Messages("sample.message.id")</th>
                    <th>@Messages("sample.message.name")</th>
                    <th>@Messages("sample.message.description")</th>
                    @restrict(handler, List(as("admin"))) {
                        <th>@Messages("sample.message.actions")</th>
                    }
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        @restrict(handler, List(as("admin"))) {
            <div>
                <input type="button" value="@Messages("sample.message.add")" class="edit" data-id="0">
            </div>
        }

    </div>

</body>