@(handler: be.objectify.deadbolt.scala.DeadboltHandler)(implicit request: Request[Any])
@*Template for edit form*@
<script type="text/x-handlebars-template" id="editGlossaryForm">
    <form>
        <input type="hidden" name="id" value="{{id}}">
        <div>
            <label for="name">
            @Messages("sample.message.name")
            </label>
            <input type="text" id="name" name="name" value="{{name}}" class="required">
        </div>
        <div>
            <label for="name">
            @Messages("sample.message.description")
            </label>
            <input type="text" id="description" name="description" value="{{description}}" class="required">
        </div>

        <div>
            <input type="submit" value="@Messages("sample.message.save")">
        </div>
    </form>
</script>